* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.homepageModal {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue; }
  .homepageModal__startGameBtn {
    font-size: 50px;
    padding: 10px;
    cursor: url(../images/hammer-cursor.png), auto; }

.modalClosed {
  opacity: 0;
  pointer-events: none; }

.countDown__page {
  position: relative;
  z-index: 998;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: greenyellow; }
  .countDown__page .countDown {
    font-size: 200px; }

.title {
  font-size: 32px;
  text-align: center; }

.button {
  margin-top: 3em;
  text-align: center; }

.playBtn {
  padding: 15px 45px;
  border: 1px solid black;
  border-radius: 3px; }

.stopBtn {
  padding: 15px 45px;
  border: 1px solid black;
  border-radius: 3px; }

.field {
  width: 100%;
  height: 90vh;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #a1d148; }
  .field__gridContainer {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    width: 600px;
    height: 550px;
    margin-top: 40px; }
    .field__gridContainer--partField {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      position: relative;
      width: 180px;
      height: 148px;
      overflow: hidden; }
      .field__gridContainer--partField--holeContainer {
        position: absolute;
        top: 73.5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 148px; }
        .field__gridContainer--partField--holeContainer--hole {
          z-index: 9;
          width: 200px; }
        .field__gridContainer--partField--holeContainer--moleContainer {
          position: relative;
          top: 100px;
          z-index: 0;
          width: 125px; }
          .field__gridContainer--partField--holeContainer--moleContainer--mole {
            width: 100%; }
      .field__gridContainer--partField .popUp {
        -webkit-animation: popUp 0.5s ease-in-out  both;
        animation: popUp 1.5s ease-in-out  both; }

.pauseModal {
  position: fixed;
  z-index: 999;
  top: 44%;
  left: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 30vh;
  background-color: #fbf2be;
  border: 10px solid #ffe600;
  padding: 20px; }

.modal {
  cursor: url(../images/hammer-cursor.png), auto;
  position: fixed;
  z-index: 999;
  top: 44%;
  left: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 30vh;
  background-color: #fbf2be;
  border: 10px solid #ffe600;
  padding: 20px; }
  .modal__gameOver {
    font-size: 40px;
    margin-bottom: 40px; }
  .modal__highScoreParagraph {
    font-size: 20px; }
  .modal__playAgainBtn {
    padding: 10px;
    margin-top: 20px; }

.hidden {
  display: none; }

.cursor {
  position: absolute;
  top: 40px;
  z-index: 999;
  width: 200px;
  transform: translate(10px, -40px);
  pointer-events: none;
  transform: rotate(25deg); }
  .cursor__hammer {
    width: 100%; }

.hit {
  -webkit-animation: hit 0.2s ease-out infinite;
  animation: hit 0.2s ease-out infinite; }

@-webkit-keyframes hit {
  0% {
    transform: rotate(25deg); }
  20% {
    transform: rotate(-40deg); }
  60% {
    transform: rotate(-40deg); } }

@keyframes hit {
  0% {
    transform: rotate(25deg); }
  20% {
    transform: rotate(-40deg); }
  60% {
    transform: rotate(-40deg); } }

@-webkit-keyframes popUp {
  0% {
    transform: translateY(0); }
  40% {
    transform: translateY(-110px); }
  75% {
    transform: translateY(-110px); }
  100% {
    transform: translateY(0); } }

@keyframes popUp {
  0% {
    transform: translateY(0); }
  40% {
    transform: translateY(-110px); }
  75% {
    transform: translateY(-110px); }
  100% {
    transform: translateY(0); } }

/*# sourceMappingURL=main.css.map */
