@import "core/variables";
@import "core/reset";
// @import 'components/code';
// @import 'components/links';
// @import 'layout/page';
// @import 'layout/header';
// @import 'layout/footer';
// @import 'pages/index';

@font-face {
    font-family: "whack";
    src: url("../fonts/whack.ttf") format("truetype");
}

* {
    font-family: "whack", sans-serif;
    //cursor: none;
    //cursor: url(../images/hammer-cursor.png), auto;
}
.main {
    overflow: hidden;
    @media (min-width: 1700px) {
        overflow: visible;
    }
}

//     HOMEPAGE      //
.title {
    position: fixed;
    top: 20px;
    line-height: 70px;
    word-spacing: 100vw;
    letter-spacing: 12px;
    z-index: 999;
    font-size: 72px;
    text-align: center;
}

.homepageModal {
    position: fixed;
    z-index: 998;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../images/background4.jpg") no-repeat center;
    background-size: cover;
    &__startGameBtn {
        background-color: transparent;
        border: none;
        padding: 10px;
        //cursor: url(../images/hammer-cursor.png), auto;
        cursor: none;
        &--icon {
            font-size: 200px;
            color: rgb(226, 182, 86);
        }
    }
}
.modalClosed {
    opacity: 0;
    pointer-events: none;
}

//     TRANSITION TO GAME ZONE        //
.countDown__page {
    position: relative;
    z-index: 997;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: greenyellow;
    .countDown {
        font-size: 200px;
    }
}

// Game zone
.logoContainer {
    position: fixed;
    z-index: 1;
    left: 2%;
    width: 350px;
    margin-top: 35px;
    @media (min-width: 380px) {
        left: 5%;
    }
    @media (min-width: 400px) {
        left: 7.5%;
    }
    @media (min-width: 1700px) {
        left: 40%;
        width: 20%;
        margin-top: 15px;
    }

    &__logo {
        width: 100%;
    }
}
.gamePage {
    position: relative;
    background-color: black;
    height: 100vh;

    &__gameData {
        position: absolute;
        top: 170px;
        left: 0%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 20px;
        color: $orange;
        letter-spacing: 1px;
        font-size: 14px;

        @media (min-width: 1700px) {
            position: absolute;
            top: 150px;
            left: 655px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 600px;
            height: 50px;
            // padding: 30px 20px;
            // background-color: $brown;
            // outline: 10px solid $orange;
            // border-radius: 10px;
            letter-spacing: 2px;
            font-size: 16px;
        }

        &--timeLeft {
            padding: 5px 15px;
            background-color: $brown;
            outline: 7px solid $orange;
            border-radius: 10px;
            @media (min-width: 1700px) {
                padding: 10px 20px;
                outline: 10px solid $orange;
            }
        }
        &--score {
            padding: 5px 15px;
            background-color: $brown;
            outline: 7px solid $orange;
            border-radius: 10px;
            @media (min-width: 1700px) {
                padding: 10px 20px;
                outline: 10px solid $orange;
            }
        }
    }

    &__playBtnsContainer {
        position: absolute;
        z-index: 1;
        top: -35px;
        right: 0px;
        @media (min-width: 1700px) {
            top: 0;
            left: 1250px;
        }

        &--playBtn {
            .fa-play {
                font-size: 20px;
                color: $brown;
            }
        }

        &--pauseBtn {
            .fa-pause {
                font-size: 20px;
                color: $brown;
            }
        }
    }
}

.button {
    margin-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
    width: 50px;
    background-color: $orange;
    border: 2px solid $brown;
    border-radius: 50%;
}

.field {
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    background: url(../images/background2.png) center no-repeat;
    background-size: fill;
    @media (min-width: 1700px) {
        width: 100%;
        height: 100vh;
        display: grid;
        align-items: center;
        justify-content: center;
        background: url(../images/background2.png) center no-repeat;
        background-size: contain;
        //     background: url(../images/background.jpg) left no-repeat;
        // position: relative;
        // left: 225px;
        // width: 1500px;
        // height: 100vh;
        // // background-size: contain;
        // background-size: cover;
    }

    &__gridContainer {
        position: relative;
        top: 20px;
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 550px;
        height: 530px;
        margin-top: 40px;
        padding: 0;
        transform: scale(0.75, 0.75);
        @media (min-height: 760px) {
            top: -15px;
        }
        @media (min-width: 1700px) {
            transform: scale(1, 1);
            position: relative;
            top: -20px;
            display: grid;
            align-items: center;
            justify-items: center;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 5px;
            width: 600px;
            height: 550px;
            margin-top: 40px;
            padding: 0;
        }

        &--partField {
            transform: scale(0.75, 0.75);
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;
            width: 180px;
            height: 148px;
            overflow: hidden;
            @media (min-width: 1700px) {
                transform: scale(1, 1);
            }

            &--holeContainer {
                position: absolute;
                // top: 11px;
                top: 74px;
                display: flex;
                flex-direction: column;
                align-items: center;
                // width: 50%;
                height: 148px;

                &--hole {
                    z-index: 9;
                    width: 200px;
                }
                &--moleContainer {
                    position: relative;
                    // top: -120px; // arriba
                    // top: 0px; //escondido
                    top: 100px;
                    z-index: 0;
                    width: 125px;

                    &--mole {
                        width: 100%;
                        // animation: appear 3.3s ease-in ;

                        //width:120px;
                    }
                }
            }

            .popUp {
                -webkit-animation: popUp 0.5s ease-in-out both;
                animation: popUp 1.5s ease-in-out both;
            }
        }
    }
}

// Modal pause
.pauseModal {
    position: fixed;
    z-index: 999;
    top: 38%;
    left: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    width: 20%;
    height: 30vh;
    background-color: $brown;
    border: 15px solid $orange;
    border-radius: 20px;
    padding: 30px 20px;
    color: white;
    font-size: 25px;
    letter-spacing: 1.5px;

    @media (min-width: 1700px) {
    }
    &__pause {
        color: $orange;
        font-size: 50px;
        letter-spacing: 4px;
        margin-bottom: 10px;
    }

    &__score {
        margin-bottom: 5px;
    }
    &__currentTimeLeft {
        margin-bottom: 15px;
    }
    &__resumeGameBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        color: white;
        letter-spacing: 1px;
        font-size: 18px;
        background-color: $orange;
        border: none;
        border-radius: 10px;
    }
}

// Modal game over
.modal {
    cursor: url(../images/hammer-cursor.png), auto;
    position: fixed;
    z-index: 999;
    top: 44%;
    left: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 30vh;
    background-color: rgb(251, 242, 190);
    border: 10px solid rgb(255, 230, 0);
    padding: 20px;
    @media (min-width: 1700px) {
    }

    &__gameOver {
        font-size: 40px;
        margin-bottom: 30px;
    }
    &__highScoreParagraph {
        font-size: 20px;
    }
    &__btnsContainer {
        display: flex;
        justify-content: space-between;
        width: 230px;
        margin-top: 20px;

        &--playAgainBtn {
            font-size: 20px;
            color: rgb(117, 65, 17);
            background-color: rgb(231, 188, 108);
            border: 2px solid rgb(117, 65, 17);
            padding: 10px;
            border-radius: 10px;
        }

        &--exitBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            background-color: rgb(231, 188, 108);
            padding: 10px;
            border-radius: 50%;
            border: 2px solid rgb(117, 65, 17);

            &--exitIcon {
                color: rgb(117, 65, 17);
            }
        }
    }
}

.hidden {
    display: none;
}

.cursor {
    position: absolute;
    top: 40px;
    z-index: 999;
    width: 200px;
    transform: translate(10px, -40px);
    pointer-events: none;
    transform: rotate(25deg);

    &__hammer {
        width: 100%;
    }
}
.hit {
    animation: hit 0.2s ease-out infinite;
}

// Cursor (hammer) animation
@keyframes hit {
    0% {
        transform: rotate(25deg);
    }
    20% {
        transform: rotate(-40deg);
    }
    60% {
        transform: rotate(-40deg);
    }
}

// Mole animation
@keyframes popUp {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-110px);
        transform: translateY(-110px);
    }
    75% {
        -webkit-transform: translateY(-110px);
        transform: translateY(-110px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
